<div class="page_container">
    <h2 class="grey-text">[ACTIVATION_RESULT]</h2>
    <p>
        [ACT_RESULT_TEXT]
    </p>
    <a class="btn btn-primary wide-button" href="[BUT_LNK]">[SIGN_IN]</a>
</div>