<!DOCTYPE html>
<html>
<head>
    [PAGE_HEAD]
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<!--<link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic|EB+Garamond|Playfair+Display+SC:400,400italic,700,700italic,900,900italic|Oranienbaum&subset=latin,cyrillic,latin-ext" rel="stylesheet" type="text/css">-->
	<link rel="stylesheet" type="text/css" href="/style.css">
	
	<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <style>
	</style>
</head>
<body>
	<header>
		Header
		<p>
			<a href="javascript:void(0)" id="a_one" onclick="">One</a>
			<a href="javascript:void(0)" id="a_two" onclick="">Two</a>
			<a href="javascript:void(0)" id="a_three" onclick="">Two</a>
		</p>
	</header>
	
	[AUTHFORM]
	<main class="page">
	[CONTENT]
	<br><br><br><br><br>
	</main>
	<footer>
		Footer
	</footer>
<script>
	//_.error_text = 'Потерялася я :(';
</script>
</body>
</html>