body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
    
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

a {
    /*color: #818181;*/
    color: #337ab7;
}
a:hover {
    /*color: #e9171b;*/
    color: #23527c;
}
a.red-text {
    color: #e9171b;
}


.jumbotron {
    /*background-color: #e9171b;*/
    background-color: #ffffff;
    color: #999999;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}

.container-fluid {
    padding: 20px 50px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.logo-small {
    color: #e9171b;
    font-size: 50px;
}

.logo {
    color: #e9171b;
    font-size: 200px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

    .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #e9171b;
}

.carousel-indicators li {
    border-color: #e9171b;
}

.carousel-indicators li.active {
    background-color: #e9171b;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.panel {
    border: 1px solid #e9171b;
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #e9171b;
    background-color: #fff !important;
    color: #e9171b;
}

.panel-heading {
    color: #fff !important;
    background-color: #e9171b !important;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: white !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #e9171b;
    color: #fff;
}

.navbar {
    margin-bottom: 0;
    /*background-color: #e9171b;*/
    background-color: #999999;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 0.1em;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    color: #e9171b !important;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    text-transform: uppercase;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #e9171b !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #e9171b;
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.red-bg {
    background-color: #e9171b !important;
}
.red-text {
    color: #e9171b !important;
}

.dark-text {
    color: #333333 !important;
}

.light-text {
    color: #818181 !important;
}

.page_container {
    /*padding: 10px;*/
    padding-top: 50px;
    text-align: center;
    position: relative;
}

    .error_page h3 {
        color: #e9171b;
    }
    .error_page h4 {
        color: #818181;
    }

.g-recaptcha {
    /*text-align: center;*/
    display: inline-block;
    /*position: relative;*/
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    /*
    transform:scaleX(0.77);
    transform-origin:0 0;
    */
}
.rcpt {
    width: 280px;
    height: 166px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    text-align: center;
}
.rcpts {
    width: 280px;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}
input.signform {
    border: 1px solid #818181;
    background-color: #ffffff;
    margin-top: 0.5em;
    margin-bottom: 1em;
    width: 304px;
    outline: none;
}

input[type="submit"].signform {
    background-color: #e9171b;
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: #ffffff;
    min-width: 200px;
    border: 1px solid #e9171b;
}
input[type="submit"].signform:hover {
    /*background-color: #e9171b;*/
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.6);
}

.red-light {
    box-shadow: 0px 0px 3px 1px #e9171b;
}

.white-button {
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #818181;
}
.white-button.signform {
    width: 304px;
}
.white-button.signform:hover {
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
}
.smalltext {
    text-transform: lowercase !important;
}
.capittext {
    text-transform: capitalize !important;
}


.table-block {
    display: table;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
    vertical-align: top;
}

.bold-text {
    font-weight: bold;
}

/*===========================*/
/*------------News-----------*/
.newslist {
    width: 100%;
}
.newslist .table-cell:first-child {
    /*border-left: 1px dotted #818181;*/
}
.newslist .table-cell:last-child {
    /*border-right: 1px dotted #818181;*/
}
.newsbox {
    padding: 10px;
    color: #333333;
    margin: 10px;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    display: block;
    position: relative;
}
.newsbox:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.4);
}
.newsbox:hover .newsblock {
    text-decoration: none !important;
    color: #333333;
}
.newsblock {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    /*border-bottom: 1px dotted #818181;
    border-top: 1px dotted #818181;*/
}
h3.newstitle {
    color: #e9171b;
}
h3.newstitle a {
    color: #e9171b;
}

h2.grey-text {
    color: #999 !important;
    line-height: 70pt !important;
    background: #F5F5F5 !important;
    margin-top: 0 !important;
    font-size: 18px !important;
    font-family: Helvetica !important;
    font-weight: normal !important;
}
h3.grey-text {
    color: #999 !important;
    line-height: 70pt !important;
    background: #F5F5F5 !important;
    margin-top: 0 !important;
    font-size: 18px !important;
    font-family: Helvetica !important;
    font-weight: normal !important;
}

.newsimageblock {
    width: 140px;
    padding: 10px;
    /*border-bottom: 1px dotted #818181;
    border-top: 1px dotted #818181;*/
}
.newsimage {
    width: 120px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
}
.newsdate {
    display: block;
    position: absolute;
    top: 8px;
    right: 15px;
    color: #818181;
    font-size: 1.2rem;
}

.articlebox {
    padding: 10px;
    padding-top: 2px;
    color: #333333;
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    display: block;
    position: relative;
    width: auto;
    overflow: hidden;
}
/*-----------/News-----------*/
/*===========================*/


/*----------Account----------*/
h2.accountheader {
    margin-top: 1px !important;
    margin-bottom: 10px;
}
#settingbox h3 {
    text-align: left !important;
}
/*---------/Account----------*/

.glyphicon.preinput {
    top: 0px !important;
}
.input-group, .form-group input[type="password"] {
    margin-top: 10px !important;
}
.btn-default {
    background-color: #999999 !important;
    color: #ffffff !important;
    border: 0 !important;
}
.btn-primary {
    background-color: #e9171b !important;
    color: #ffffff !important;
    border: 0 !important;
}
.wide-button {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.wide-button-fix200 {
    width: 200px !important;
}
.wide-button-fix120 {
    width: 120px !important;
}
.wide-button-fix150 {
    width: 150px !important;
}
.wide-button-fix250 {
    width: 250px !important;
}
.grey-text {
    color: #999 !important;
}
.block {
    display: block !important;
}
.right-grey-border {
    border-right: 1px solid #999 !important;
}
.right-light-border {
    border-right: 1px solid #ccc !important;
}
.left-grey-border {
    border-left: 1px solid #999 !important;
}
.left-light-border {
    border-left: 1px solid #ccc !important;
}
.articles-content-box {
        max-width: 1200px;
        margin: auto;
        position: relative;
    }
    .item-article-box {
        position: relative;
        display: inline-block;
        height: 412px;
        width: 332px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        overflow: hidden;
    }
    .item-article-preview {
        position: relative;
        width: 320px;
        height: 200px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #f5f5f5;
    }
    .item-article-block {
        position: relative;
        width: 320px;
        height: 140px;
        text-align: justify;
        color: #333;
    }
    .item-article-button-box {
        position: relative;
        width: 320px;
        height: 40px;
        text-align: justify;
        padding: 5px;
        box-sizing: border-box;
    }
    .item-article-share-box {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 64px;
        height: 32px;
    }
    .item-article-buy-box {
        position: absolute;
        top: 5px;
        right: 5px;
    }
.link-button {
    /*padding: 5px 20px;*/
    border: 1px solid #ccc;
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
}
.back-button {
    padding: 0px 20px;
    position: absolute;
    top: -72px;
    left: 10px;
}
    .single-article-box {
        /*margin-top: 30px;*/
        position: relative;
        display: inline-block;
        /*height: 412px;
        width: 332px;*/
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        overflow: hidden;
        width: 100%;
    }
    .single-article-preview {
        position: relative;
        /*width: 320px;*/
        height: 200px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #f5f5f5;
        margin: auto;
    }
    .single-article-block {
        position: relative;
        /*width: 320px;
        height: 140px;*/
        text-align: justify;
        color: #333;
        padding: 20px;
    }
    .single-article-button-box {
        position: relative;
        height: 40px;
        text-align: justify;
        padding: 5px;
        box-sizing: border-box;
    }
    .single-article-buy-box {
        position: absolute;
        top: 30px;
        right: 10px;
    }
.fb-share-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-image: url('img/fb-share30.png');
    cursor: pointer;
}
.vk-share-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-image: url('img/vk-share30.png');
    cursor: pointer;
}

.isreflex {
    transform: scale(-1,1);
    -moz-transform: scale(-1,1);
    -webkit-transform: scale(-1,1);
}

#registration-form .col-xs-12, #registration-form .col-sm-12, #login-form .col-xs-12, #login-form .col-sm-12 {
    text-align: center;
}
#registration-form .col-xs-12 .form-group, #registration-form .col-sm-12 .form-group, #login-form .col-xs-12 .form-group, #login-form .col-sm-12 .form-group {
    margin: auto;
}
#registration-form .rcpt,
#login-form .rcpts {
    float: left;
}
.left-group {
    float: right;
}
.center-group div {
    float: none;
}
.top-10 {
    margin-top: 10px !important;
}

.string-lighting:hover {
    background-color: #ddd;
}
.break-all {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    hyphens: manual;
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (min-width: 992px) and (max-width: 1220px) {
    .container {
       /* width: 990px;*/
    }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
    .container {
        width: 760px;
    }
    .left-group {
        float: none;
    }
    #registration-form .rcpt,
    #login-form .rcpts {
        float: none;
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
    .left-group {
        float: none;
    }
    #registration-form .rcpt,
    #login-form .rcpts {
        float: none;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}